@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

*{
    font-family: 'Rubik';
}

body{
    background-color: hsl(226, 43%, 10%);
    color:#fff;
    padding:8% 20% 0% 20%;
}

button{
    background:none;
    border:none;
    margin:0;
    padding: 0.25rem;
    cursor: pointer;
    color:hsl(235, 45%, 61%);
    display:flex;
    flex-direction:column;
}

h1{
    font-size:18px;
    font-weight:400;
}
/*Grid layout*/
.grid-container{
    display:grid;
    grid-template-columns: 1fr 3fr;
    gap:1rem;
}

.category-container{
    display:grid;
    grid-template-columns:auto auto auto;
    grid-template-rows: auto auto;
    gap:1rem 1rem;
}

/*Card styles*/
.id-card{
    color:hsl(236, 100%, 87%);
    text-align:center;
}

.category-card, .title-card{
    border-style:solid;
    border-color:#fff;
    border-radius:10px;
    padding-left: 1rem;
}

/*Info styles*/

.current-time{
    font-size:30px;
    font-weight:300;
}

.previous-time{
    color:hsl(236, 100%, 87%);
    font-weight:300;
}

.time-report-day{
    display:block;
}

.time-report-week{
    display:none;
}

.time-report-month{
    display:none;
}

