@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

*{
    font-family: 'Rubik';
}

body{
    background-color: hsl(226, 43%, 10%);
    color:#fff;
    padding:7% 20% 0% 20%;
}

button{
    background:none;
    border:none;
    margin: 0.5rem 0 0 1.5rem;
    padding: 0.35rem;
    cursor: pointer;
    color:hsl(235, 45%, 61%);
    display:flex;
    flex-direction:column;
}

h1{
    font-size:18px;
    font-weight:400;
}
/*Grid layout (overall positioning)*/
.grid-container{
    display:grid;
    grid-template-columns: 1fr 3fr;
    gap:1rem;
}

.category-container{
    display:grid;
    grid-template-columns:auto auto auto;
    grid-template-rows: auto auto;
    gap:1rem 1rem;
}

/*Card styles*/
img:not(.ellipsis){
    margin-top:-0.15rem;
    width:3rem;
    
}

.id-card{
    color:hsl(236, 100%, 87%);
    text-align:center;
    border:solid green;
    border-radius:10px;
    background-color:hsl(246, 80%, 60%);
    width:100%;
    height:70%;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.category-card{
    position:relative;
    display:grid;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: 2fr 1fr;
    border-radius:10px;
    overflow:hidden;
}

.card-banner{
    position:absolute;
    grid-column:2;
    grid-row:1/ 4;
    z-index:1;
}

.category-card-info{
    z-index:2;
    grid-row:5 / -1;
    grid-column: 1/ -1;
    padding-left: 1rem;
}

.category-card-info, .title-card{
    background-color:hsl(235, 46%, 20%);
    border:1px solid hsl(235, 46%, 20%);
    border-radius:10px;
    
}

.ellipsis{
    float:right;
    margin:0.5rem 1rem 0 0;
}

/* Card banner styling */

#work{
    background-color: hsl(15, 100%, 70%);
}

#play{
    background-color: hsl(195, 74%, 62%);
}

#study{
    background-color: hsl(348, 100%, 68%);
}

#exercise{
    background-color: hsl(145, 58%, 55%);
}

#social{
    background-color: hsl(264, 64%, 52%);
}

#self-care{
    background-color: hsl(43, 84%, 65%);
}

/*Info styles*/

.current-time{
    font-size:30px;
    font-weight:300;
}

.previous-time{
    color:hsl(236, 100%, 87%);
    font-weight:300;
}

.time-report-day{
    display:block;
}

.time-report-week{
    display:none;
}

.time-report-month{
    display:none;
}

.id-content{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    margin-left:1rem;
}
